<!DOCTYPE HTML>
<html lang="en">
    <head>
    	<meta charset="utf-8" />
    	<link rel="icon" type="image/png" href="public/img/favicon.ico">
    	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    
    	<title>Memory Brain</title>
    
    	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
        <meta name="viewport" content="width=device-width" />
    
        <!-- Bootstrap core CSS     -->
        <link href="public/css/bootstrap.min.css" rel="stylesheet" />
    
        <!-- Animation library for notifications   -->
        <link href="public/css/animate.min.css" rel="stylesheet"/>
    
        <!--  Light Bootstrap Table core CSS    -->
        <link href="public/css/light-bootstrap-dashboard.css" rel="stylesheet"/>
    
        <!--     Fonts and icons     -->
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
        <link href='https://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>
        <link href="public/css/pe-icon-7-stroke.css" rel="stylesheet" />
        
        <style>
            .imgicon {
                display: inline-block;
                width : 32px;
                height : 32px;
            }
            .icontext {
                display: inline-block;
                margin-left : 5%;
            }
        </style>
    </head>
    
    <body>
        <div class="wrapper">
        <div class="sidebar" data-color="orange" data-image="public/img/sidebar-5.jpg">

        <!--   you can change the color of the sidebar using: data-color="blue | azure | green | orange | red | purple" -->
        	<div class="sidebar-wrapper">
                <div class="logo">
                    <a href="/" class="simple-text">
                        Memory Brain
                    </a>
                </div>
    
                <ul class="nav">
                    <li>
                        <a href="/">
                            <i class="pe-7s-rocket"></i>
                            <p>Generate</p>
                        </a>
                    </li>
                    <li> 
                        <a href="cases">
                            <img class="imgicon" src="public/img/icons/case.png">
                            <p class="icontext">Cases</p>
                        </a>
                    </li>
                    <li>
                        <a href="coolers">
                            <i class="pe-7s-science"></i>
                            <p>Coolers</p>
                        </a>
                    </li>
                    <li> 
                        <a href="cpus">
                            <img class="imgicon" src="public/img/icons/cpu.png">
                            <p class="icontext">CPUs</p>
                        </a>
                    </li>
                    <li>
                        <a href="gpus">
                            <img class="imgicon" src="public/img/icons/gpu.png">
                            <p class="icontext">GPUs</p>
                        </a>
                    </li>
                    <li>
                        <a href="hdds">
                            <img class="imgicon" src="public/img/icons/hdd.png">
                            <p class="icontext">HDDs</p>
                        </a>
                    </li>
                    <li> 
                        <a href="memory">
                            <img class="imgicon" src="public/img/icons/memory.png">
                            <p class="icontext">Memory</p>
                        </a>
                    </li>
                    <li> 
                        <a href="motherboards">
                            <img class="imgicon" src="public/img/icons/motherboard.png">
                            <p class="icontext">Motherboards</p>
                        </a>
                    </li>
                    <li > 
                        <a href="psus">
                            <img class="imgicon" src="public/img/icons/psu.png">
                            <p class="icontext">PSUs</p>
                        </a>
                    </li>
                    <li> 
                        <a href="water">
                            <i class="pe-7s-science"></i>
                            <p>Water Coolers</p>
                        </a>
                    </li>
                </ul>
        	</div>
        </div>
        
       <div class="main-panel">
            <nav class="navbar navbar-default navbar-fixed">
                <div class="container-fluid">
                    <div class="container">
                    <div class="navbar-header">
                        <!--<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">-->
                        <!--    <span class="sr-only">Toggle navigation</span>-->
                        <!--    <span class="icon-bar"></span>-->
                        <!--    <span class="icon-bar"></span>-->
                        <!--    <span class="icon-bar"></span>-->
                        <!--</button>-->
                        <!--<a class="navbar-brand" href="#">Maps</a>-->
                    </div>
                    <div class="collapse navbar-collapse">
                        <!--<ul class="nav navbar-nav navbar-left">-->
                        <!--    <li>-->
                        <!--        <a href="#" class="dropdown-toggle" data-toggle="dropdown">-->
                        <!--            <i class="fa fa-dashboard"></i>-->
                        <!--        </a>-->
                        <!--    </li>-->
                        <!--   <li class="dropdown">-->
                        <!--          <a href="#" class="dropdown-toggle" data-toggle="dropdown">-->
                        <!--                <i class="fa fa-globe"></i>-->
                        <!--                <b class="caret"></b>-->
                        <!--                <span class="notification">5</span>-->
                        <!--          </a>-->
                        <!--          <ul class="dropdown-menu">-->
                        <!--            <li><a href="#">Notification 1</a></li>-->
                        <!--            <li><a href="#">Notification 2</a></li>-->
                        <!--            <li><a href="#">Notification 3</a></li>-->
                        <!--            <li><a href="#">Notification 4</a></li>-->
                        <!--            <li><a href="#">Another notification</a></li>-->
                        <!--          </ul>-->
                        <!--    </li>-->
                        <!--    <li>-->
                        <!--       <a href="">-->
                        <!--            <i class="fa fa-search"></i>-->
                        <!--        </a>-->
                        <!--    </li>-->
                        <!--</ul>-->
        
                        <!--<ul class="nav navbar-nav navbar-right">-->
                        <!--    <li>-->
                        <!--       <a href="">-->
                        <!--           Account-->
                        <!--        </a>-->
                        <!--    </li>-->
                        <!--    <li class="dropdown">-->
                        <!--          <a href="#" class="dropdown-toggle" data-toggle="dropdown">-->
                        <!--                Dev Tools-->
                        <!--                <b class="caret"></b>-->
                        <!--          </a>-->
                        <!--          <ul class="dropdown-menu">-->
                        <!--            <li><a href="user">User</a></li>-->
                        <!--            <li><a href="table">Table</a></li>-->
                        <!--            <li><a href="typography">Typography</a></li>-->
                        <!--            <li><a href="icons">Icons</a></li>-->
                        <!--            <li><a href="maps">Maps</a></li>-->
                        <!--            <li><a href="notifications">Notifications</a></li>-->
                        <!--          </ul>-->
                        <!--    </li>-->
                        <!--    <li class="dropdown">-->
                        <!--          <a href="#" class="dropdown-toggle" data-toggle="dropdown">-->
                        <!--                Filters-->
                        <!--                <b class="caret"></b>-->
                        <!--          </a>-->
                        <!--          <ul class="dropdown-menu">-->
                        <!--            <li><a href="#">Price</a></li>-->
                        <!--            <li><a href="#">Performance</a></li>-->
                        <!--            <li class="divider"></li>-->
                        <!--            <li><a href="#">Price For Performance</a></li>-->
                        <!--          </ul>-->
                        <!--    </li>-->
                        <!--    <li>-->
                        <!--        <a href="#">-->
                        <!--            Log out-->
                        <!--        </a>-->
                        <!--    </li>-->
                        <!--</ul>-->
                </div>
                    <% if(error && error.length > 0){ %>
                        <div class="alert alert-danger" role="alert">
                            <h1><%= error %></h1>
                        </div>
                    <% } %>
            </div>
        </nav>